@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --ff: "Inter", sans-serif;

  --h1: bold 1.125rem/1.4em var(--ff);
  --h2: bold 1rem/1.4em var(--ff);
  --p: 1rem/1.4em var(--ff);
  --p2: 0.875rem/1.4em var(--ff);

  --gray100: hsl(0,0%,0%);
  --gray70: hsl(0,0%,30%);
  --gray0: hsl(0,0%,100%);
}
